Package: com.forx.creditmutuelplus
Name: FCréditMutuel+
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Disables jailbreak check in the Credit Mutuel app.
Maintainer: Hugo Kindel <me@hugokindel.xyz>
Author: Hugo Kindel <me@hugokindel.xyz>
Section: Tweaks
